<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test1">
    <classes>
      <class name="testNGXML.Testing1">
      <methods>
      <include name="B"/>
      <include name="C"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Suite -->
